body{
    background-color: #000;
    color: #fff;
}
#App{
    width: 50%;
    height: auto;
    margin: auto;
    color: red;
}



.div {
    height: 10%;
    width: 55%;
    min-width: 650px;
    background-color: #fff;
    margin: 20px auto;
    color: #000;
    padding: 5px 5px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    text-align:justify;
    border: 3px solid #20F008;
    
}
#horario{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 10px 20% 10px 20%;
    border: 2px solid #20F008;
}

.botones{
    justify-content: center;
}

.text{
    text-align: center;
    padding:10px 10px;
}

#Reservadas{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 10px 20% 10px 20%;
    border: 2px solid #f33;
}

.Apartado{
    height: 10%;
    width: 55%;
    min-width: 650px;
    background-color: #fff;
    margin: 20px auto;
    color: #000;
    padding: 5px 5px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    border: 2px solid #f33;
    
}

#linea{
    border-top: 1px solid rgb(216,30,39);
    margin-top: 7%;
}